<ion-content [fullscreen]="true" (window:storage)="onStorageChange($event)">
  <div>
    <h2>Storage Data</h2>
    <div *ngIf="(storageService.storageData | async) as storageData; else emptyStorageTemplate">
      <div>{{storageData.email}}</div>
      <div>{{storageData.password}}</div>
    </div>
  </div>
  
  <ion-button color="primary" (click)="clearStorage()">Clear Storage</ion-button>
</ion-content>

<ng-template #emptyStorageTemplate>
  <ion-skeleton-text [animated]="true"></ion-skeleton-text>
</ng-template>
